<% layout('layouts/boilerplate') %> 

<h1>Tide Gauges ( <%= tgTitle %> ) -
     <%= tgNames.length %> tide gauges found</h1>

<!-- <button><a href="/home" style="text-decoration: none;">Back</a></button> -->

<% let ii = 1; %> 
<% for (let tg of tgNames.sort()) { %>
    <p><%= ii %>. <a href="/tgDetail/<%= tg %> "><%= tg %> </a> </p>
    <% ii++ %> 
<% } %> 
