<% layout('layouts/boilerplate') %> 

<h1><strong><%= data[0].tg.split('.csv')[0] %></strong></h1>


<div class="map-container d-flex flex">

    <div class="map-table">
    
        <table>
            <tr>
                <td>Name</td>
                <td><%= data[0].tg.split('.csv')[0] %></td>
            </tr>

            <tr>
                <td>20-CR Changepoint Year</td>
                <td><%= data[0].visual_inspection %></td>
            </tr>

            <tr>
                <td>Changepoint Analysis Plots</td>
                <td><a href="/cptplot/<%= data[0].tg %>.jpg" target="_blank">view</a></td>
            </tr>
            <tr>
                <td>20-CR Reconstruction [after changepoint]</td>
                <td><a href="https://github.com/moinabyssinia/gssr-webmap/blob/gh-pages/era20c/<%= data[0].name %>.7z?raw=true" target="_blank">download</a></td>
            </tr>

        </table>    
    </div>

</div>